{% extends 'layout.html' %} {% block title %}<title>About</title> {% endblock %}
{% block body %}
<nav class="d-flex justify-content-between align-items-center">
  <span class="title m-3"
    ><h2 class="navtext">The Tiger King Chronicle</h2></span
  >
  <span></span>
    <a
      ><button class="btn btn-secondary mr-5" href="/home"><h3>Home</h3></button>
    </a></span
  >
</nav>

<section class="about container d-flex flex-wrap justify-content-around mt-5">
  <div class="team mashima">
    <div class="img-div">
      <img
        src="https://avatars1.githubusercontent.com/u/52222646?s=460&u=75465debbfee5149ef97726fbd6592fe879f2e96&v=4"
        class="rounded-circle"
      />
    </div>
    <p>Asian woman d...eveloper</p>
  </div>
  <div class="team tim">
    <div class="img-div rounded-circle">
      <img
        src="https://avatars1.githubusercontent.com/u/7358471?s=460&v=4"
        class="rounded-circle"
      />
    </div>
    <p>"Look who's a good boi"</p>
  </div>
  <div class="team josh">
    <div class="img-div rounded-circle">
      <img
        src="https://avatars1.githubusercontent.com/u/11002657?s=460&u=9412476a17a7243148ca40ad9a1684ce6026a18c&v=4"
        class="rounded-circle"
      />
    </div>
    <p>My Infinity Gauntlet snaps away 50% of the productivity</p>
  </div>
  <div class="team ryan">
    <div class="img-div rounded-circle">
      <img
        src="https://avatars3.githubusercontent.com/u/55797540?s=460&u=0dd7d2fca51c00920235eb859f8357a33774aad8&v=4"
        class="rounded-circle"
      />
    </div>
    <p>I look professional so I know what I'm doing</p>
  </div>
  <div class="team dustin">
    <div class="img-div rounded-circle">
      <img
        src="https://avatars3.githubusercontent.com/u/45376430?s=460&u=2182ed52785e18d3044bd21a39bf7e3697cc9cf0&v=4"
        class="rounded-circle"
      />
    </div>
    <p>Just Dustin...</p>
  </div>
</section>
{% endblock %}
