{% extends 'layout.html' %}
{% block title %}
  <title>Tiger King</title>
{% endblock %}
{% block body %}
    
    <nav class="d-flex justify-content-between align-items-center">
        <span class="title m-3"><h2 class="navtext">The Tiger King Chronicles</h2></span>
        <span><div class="btn btn-secondary mr-5"><h3>Logout</h3></div></span>
    </nav>
​
    <section class="shop-page container">
        <h3 class="navtext text-center">My Inventory</h3>
​
        <div class="item-list">
        
            <!-- </script> -->
            
            <div class="d-flex justify-content-between m-3">
                <span id='item1'></span>
                <span class="badge badge-primary">Qty: 1</span>
            </div>
            <div class="d-flex justify-content-between m-3">
                <span id='item2'></span>
                <span class="badge badge-primary">Qty: 1</span>
            </div>
            <div class="d-flex justify-content-between m-3">
                <span id='item3'></span>
                <span class="badge badge-primary">Qty: 1</span>
            </div>
            <div class="balance d-flex justify-content-between m-3">
                <span>My Balance</span>
                <span class="badge badge-secondary px-5">500,000</span>
            </div>
            <button class="btn btn-info"><h4>Back to Lobby</h4></button>
        </div>
​
    </section>

    <script>
        function getItems() {
            fetch('/api/inventory', {
                method='get'
            })
            .then(response => {
                response.data.map((element, index) => {
                    let item = document.querySelector(`#item${index+1}`)
                    item.innerHTML = element
                })
            })
        }
    </script>
​
    <!--Bootstrap Jquery and popper -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
    <!-- end of it -->
{% endblock %}