{% extends 'layout.html' %} {% block title %}
<title>Lobby</title>
{% endblock %} {% block body %}
<nav class="d-flex justify-content-between align-items-center">
  <span class="title m-3"
    ><h2 class="navtext">The Tiger King Chronicle</h2></span
  >
  <span
    ><div onclick='logout()' class="btn btn-secondary mr-5"><h3>Logout</h3></div></span
  >
</nav>

<section
  class="main-lobby d-flex flex-wrap justify-content-between mx-auto"
  style="width: 1350px;"
>
  <div class="sub player-info">
    <div class="m-4">
      <h4>username</h4>
      <div class="info-box">JOEEXOTIC1959</div>
    </div>
    <div class="m-4">
      <h4>avatar</h4>
      <div class="info-box">JOE EXOTIC</div>
    </div>
    <div class="m-4">
      <h4>description</h4>
      <h5 class="p-2">
        Joe Exotic was an owner of G.W. Farm but he lost it all. He hates Carole
        Baskin. He could have been our president if you had voted for him!
      </h5>
    </div>
  </div>

  <div class="sub player-avatar">
    <img src="/static/images/tiger-4258214_6401.png" />
  </div>

  <div class="sub player-things">
    <div class="m-4">
      <h4>Money</h4>
      <div class="info-box">$5,000</div>
    </div>
    <div class="activities m-4">
      <div class="btn btn-warning inventory m-3">Inventory</div>
      <div class="btn btn-warning shop m-3">Shop</div>
    </div>
    <div class="play-button m-4">
      <a href="game"
        ><button class="btn btn-info px-5 m-3">Play Now!</button></a
      >
    </div>
  </div>

  <section class-'todoapp'>
    <header class='header'>
        <h1>Chat</h1>
        <input class='tiger-input' placeholder="Type to chat" autofocus='' onkeypress="addItem(event)">
    </header>

    <section class='main'>
        <ul class='tiger-chat'></ul>
    </section>

    <footer class='footer'></footer>
</section>

  <script>
    function logout() {
      fetch('/logout', {
        method: 'post'
      })
    }
  
    function addItem(e) {
        if (e.which == 13 || e.keyCode == 13) {
            let item = document.querySelector('.tiger-input');
            fetch('/add-item', {
                method: 'post',
                body: JSON.stringify({
                    id: `item-${Date.now()}`,
                    value: item.value
                })
            })
            .then(response => {
                item.value = ''
            });
        }
    }

    function appendToList(data) {
        let html = `
            <li id="${data.id}">
                <div class="view">
                    <label>${data.value}</label>
                </div>
            </li>`;
        let list = document.querySelector(".tiger-chat")
        list.innerHTML += html;
    };
  </script>
  
  <!-- Pusher Scripts -->
  <script src='https://js.pusher.com/4.1/pusher.min.js'></script>
  <script>
    //configure pusher
    const pusher = new Pusher('a7f244850a810c4fcb15', {
                cluster: 'us2',
                encrypted: true
            });

            // subscribe to channel
            const channel = pusher.subscribe('item');

            // listen for item-added events, and update list once even is triggered
            channel.bind('item-added', data => {
                appendToList(data);
            });
  </script>

  {% endblock %}
</section>
